* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/*main page svg css*/
.custom-shape-divider-bottom-1624125989 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1624125989 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 327px;
}

.custom-shape-divider-bottom-1624125989 .shape-fill {
  fill: #ff4500;
  /*fill: linear-gradient(to right, rgb(255,69,0), rgb(255,143,0))*/
  /*fill: rgb(255,69,0);
  fill: linear-gradient(90deg, rgba(255,69,0,1) 0%, rgba(255,143,0,1) 35%, rgba(255,211,0,1) 100%);*/
}
/*end of main page svg css*/

/*about page svg css*/
.custom-shape-divider-top-1624126292 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1624126292 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 279px;
}

.custom-shape-divider-top-1624126292 .shape-fill {
  fill: lightblue;
}
/*end of about page svg css*/

.links {
  color: #ff4500;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}



.main-section {
  height: 100vh;
  background-color: white; 
  position: relative;
}

@font-face {
  font-family: leagueSpartan;
  src: url(./Spartan-Black.ttf);
}

.main-text {
  color: #ff4500; 
  font-size: 2em;  
  font-family: leagueSpartan;
  background-color: transparent;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.about-section {
  height: 100vh;
  background-color: #FFFF;
  position: relative;
  

}

.contact-section {
  height: 100vh;
  background-color: tomato;
}



/*this bit hides the scrollbar*/
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}